/* Normalize styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: 'Andada Pro', serif;
    color: #333; /* Default text color */
}

header {
    background-color: #adc7f1;
    color: #333;
    padding: 20px;
    text-align: center;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #adc7f1;
    padding: 12px 20px;
}

.logo img {
    width: 40px;
}

.menu {
    display: flex;
    margin-left: auto; /* Aligns menu items to the right */
}

.menu a {
    text-decoration: none;
    color: #010101;
    transition: 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
    padding: 0 10px; /* Added padding to menu items */
}

.menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: 0.15s ease-in-out;
}

.menu a:hover::after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

.mode {
    margin-left: auto;
}

.mode[type="checkbox"] {
    display: none;
}

.mode {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.mode::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #666;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}

.mode input[type="checkbox"]:checked+.mode::after {
    transform: translateX(20px);
}

/* Hero styles */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/company2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.hero-image .hero-text {
    color: #fff;
    text-align: center;
}

.hero-image .hero-text h2 {
    font-size: 50px;
    font-weight: 500;
}

.hero-image .hero-text p {
    font-size: 20px;
}

.hero-image .hero-button {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background: blue;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
}

.hero-image .hero-button:hover {
    background: #fff;
    color: blue;
}

/* Main styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #adc7f1;
    color: #333;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p a {
    color: #333;
}

/* Responsive styles */
@media screen and (max-width: 767px){
    
}
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin: 10px 0;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #adc7f1;
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
        color: #010101;
    }

    .menu li a {
        padding: 10px;
        color: #010101;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .container {
        display: block;
    }


/* Custom styles */
.container {
    display: grid;
    grid-template-columns: 200px 1fr; /* Sidebar takes 200px width, main content takes remaining space */
    grid-gap: 20px; /* Gap between sidebar and main content */
}

/* Styles for sidebar */
.sidebar {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    color: blue;
}

/* Styles for main content */
.main-content {
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	place-items: center;
	justify-content: center;
	font-family: Roboto, sans-serif;
}

main {
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	width: 760px;
	background-color: rgba(225, 225, 255, 0.2);
}

p {
	margin: 1rem;
	display: flex;
}

.label {
	display: block;
	width: 175px;
	font-weight: 700;
	color: navy;
	text-align: right;
	margin-right: 10px;
}

.smaller {
	font-size: smaller;
}

/* CSS for desktop view */
@media screen and (min-width: 768px) {
    .photo:hover {
        transform: scale(1.1); /* Example effect: Scale the image */
        transition: transform 0.3s ease; /* Smooth transition */
    }
}
